sudo: false

language: node_js

node_js:
  - lts/*

cache:
  yarn: true

notifications:
  email:
    on_success: never
    on_failure: change

script:
  - yarn lint
  - yarn test
  - yarn build

# https://docs.travis-ci.com/user/deployment/pages/
deploy:
  provider: pages
  skip_cleanup: true
  keep_history: true
  github_token: $GITHUB_TOKEN
  local_dir: build
  # target_branch: gh-pages
  # on:
  #   branch: react
